<div class='row'>
  <div class='span4' id='cookies_div'>
    <h3>Cookies</h3>
    <p>Text</p>
    <div>
      <%= link_to "Cookies: #{@hunter.cookies}", add_stockpile_path,
                  class: 'btn btn-success btn-large', id: 'add_cookie_link' %>
    </div>
    <div>Text2</div>
    <div>Text3</div>
  </div>

  <div class='span4'>
    <h3>Users</h3>
    <p>Text</p>
    <div>Text1</div>
  </div>

  <div class='span4'>
    <h3>Bonuses</h3>
    <p>Text</p>
    <div>Text1</div>
    <div>Text2</div>
  </div>

</div>