<div class='row' id='hunting'>
  <div class='span4' id='cookies_div'>
    <%= render 'cookies_div' %>
  </div>

  <div class='span4' id='hunters_div'>
    <%= render 'hunters_div' %>
  </div>

  <div class='span4' id='bonuses_div'>
    <%= render 'bonuses_div' %>
  </div>

</div>

<script type='text/javascript'>
    $(function(){
        window.hunting = new window.Hunting($('#hunting_div'))
    })
</script>